# AWS
aws_region  = "us-east-1"
environment = "dev"

# Project
project_name = "ecommerce"

# Domain
domain_name = "example.com"

# ACM Certificate (replace with your own)
acm_certificate_arn = "arn:aws:acm:us-east-1:123456789012:certificate/example-certificate-id"

time_period_start   = "2026-06-01_00:00"

# Networking
vpc_cidr = "10.10.0.0/16"

# Alerts
admin_email = "alerts@example.com"

# WAF
waf_enable_rate_limiting = false
waf_rate_limit           = 100

# Tags
tags = {
  Environment = "dev"
  Project     = "ecommerce"
  ManagedBy   = "terraform"
}

