VITE_COGNITO_USER_POOL_ID=YOUR_USER_POOL_ID
VITE_COGNITO_USER_POOL_CLIENT_ID=YOUR_USER_POOL_CLIENT_ID
VITE_API_BASE_URL=YOUR_API_BASE_URL
DOMAIN=https://us-east-1b0o68uiqt.auth.us-east-1.amazoncognito.com