# Environment
ENVIRONMENT=local
AWS_REGION=us-east-1

# DynamoDB
DYNAMODB_ENDPOINT=http://localstack:4566
SHIPPING_TABLE=ecommerce-shipping

# SNS
SNS_ENDPOINT=http://localstack:4566
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:shipping-events